body{
    background-color: rgb(255, 209, 122);

}

h1 {
    text-align: center;
    margin-top: 0;
  }  

  h3{
    font-family: 'Press Start 2P', cursive;
    text-align: center;

}

mark{
    background-color: rgb(181, 91, 255);
    padding: 7px;

}

p{
    font-family: 'Press Start 2P', cursive;
    

}

button{

    background-color: rgb(255, 73, 73);
    align-self: center;
    font-family: 'Press Start 2P', cursive;
    color: azure;
    border-color: rgb(0, 0, 0);
    position: absolute;
    left: 50%;
    bottom: 200px;
    transform: translateX(-50%);
    font-size: 24px;
    border-radius: 10px;

}